
@cinza1: #666666;
@cinza2: #c8c9ca;
@cinza3: #dddddd;
@cinza4: #555;
@cinza5: #6e6a60;
@cinza6: #f5f5f5;
@cinza7: #ebebeb;
@cinza8: #c0bdbd;
@verde: #003300;
@verde2: #177d49;
@azulOitavas: #092e63;
@azulQuartas: #00eaff;
@VolkswagenSerial-light: 'VolkswagenSerial-Light';
@ProximaNova-bold: 'ProximaNova-bold';

@font-face {
	font-family:'VolkswagenSerial-Light';
	src: url('../font/VolkswagenSerial-Light.eot');
	src: url('../font/VolkswagenSerial-Light.eot?#iefix') format('embedded-opentype'),
		 url('../font/VolkswagenSerial-Light.woff') format('woff'),
		 url('../font/VolkswagenSerial-Light.ttf') format('truetype');
		 
	font-style:normal;
	font-weight:normal;	
}

@font-face {
	font-family:'ProximaNova-bold';
	src: url('../font/proximanova-bold.woff') format('woff');
	font-style:normal;
	font-weight:normal;	
}

body{
	font-family: Arial, sans-serif;
	//margin: 0;
	//padding: 0;
	color:@cinza1;
	// margin: 40px 0 0 41px;
	margin:0px;
}

table{
	/*background-color:yellow;*/
	width:100%;
	border-collapse: collapse;
	font-size: 11px;
	// text-align: center;
	border-right: 1px solid @cinza3;
	// float: left;
	// border:1px solid @cinza3;
	// border-top: 2px solid @verde;
	// margin-bottom:30px;
}

thead{
	background-color: @cinza6;
	border-bottom: 2px solid @cinza3;

	.colAprov, .colPontos{
		background-color: #ebebeb;
		text-align: left;

		span{
			width:53px;
			//height:38px;
			position:absolute;
			background-repeat: no-repeat;
			margin-top:-19px;
			padding-top:13px;
			background-color:;
			//margin-left:-25px;
			text-align:center;
			background-color: transparent;
			margin-top:-18px;
		}
	}

	.criterioAtivo{
		background-image:url('../img/fundoBotaoOrdenacao.gif');
		//padding-top:12px;
		height:35px;
	}

	// .colPontos{
	// 	background-color: #ebebeb;
	// }

	tr{
		height: 40px;
	}

	tr td:first-child{
		padding-left: 20px;
	}
}

td{
	padding:0;
}

h1{
	font-family: @VolkswagenSerial-light, Arial, sans_serif;
	font-weight: bold;
}

h2{
	font-weight: bold;
	font-family: @VolkswagenSerial-light, Arial, sans_serif;
	padding: 42px 0 0px 5px;
}

h3{
	//display:inline-block;
	//width:283px;
	height:34px;
	//background-color:red;
	padding: 15px 0 0 15px;
	border-top:2px solid @verde2;
	border-left:1px solid @cinza3;
	border-right:1px solid @cinza3;
	font-size:17px;
	color: @cinza4;
	margin:0;
}

tbody{
	font-size: 13px;

	tr{
		height: 43px;
		// border-bottom: 1px solid #dddddd;
	}

	tr:last-child{
		.col1, .col2, .col3{
			border-bottom: 0px solid @cinza3;
		}
		// border-bottom: 0px solid #dddddd;
	}

	.col2, .col4{
	 background-color: #f5f5f5;
}
}

#aprov_btn, #pBtn, #nav_jogos_dir, #nav_jogos_esq{
	cursor: pointer;
}

#preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	z-index: 1000;

	img{
		margin-left: 50%;
	}
}


#nav_fases{
	width: 632px;
	height: 113px;
	//border:1px solid black;
	float: left;
}

#opec{
	height: 93px;
	font-size: 12px;
	padding-top: 20px;
	//border:1px solid black;
	float: left;

	p{
		margin: 0;
		padding: 0;
	}
}

#container{
	width: 938px;
	display: table;
	border: 1px solid @cinza2;
	border-top:2px solid @verde;
	clear: left;
	// margin-bottom: 10px;
}

#container_classificacao, #container_jogos{
	float: left;
}

#container_classificacao{
	// background-color: red;
	width: 506px;
}

#container_rodadas{
	margin-top: -5px;
}

#container_jogos{
	// background-color: green;
	width: 432px;
	margin: 0px;
}

#lista_jogos{
	float: left;
	width: 100%;
	height: 387px;
 	//border: 1px solid @cinza3;
	border-left: 0px;
	// border-top: 2px solid @verde;
}

#nav_jogos
{
	height: 38px;
	border-top: 1px solid @cinza3;
	border-bottom: 1px solid @cinza3;
	//text-align: center;
	line-height: 10px;
	background-color: #f8f8f8;
}

#nav_jogos_esq, #nav_jogos_dir{
	float: left;
	display: inline-block;
	width: 35px;
	height: 38px;
	background-image: url('../img/bt_esq.jpg');
	background-repeat: no-repeat;
}

#nav_jogos_dir{
	background-image: url('../img/bt_dir.jpg');
}

#nav_jogos_dir{
	float: right;
}

#titulo_rodada{
	float: left;
	//height: 30px;
	//position: absolute;
	width: 360px;
	display: inline-block;
	//outline: 1px solid black;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}

#legenda{
	clear: left;
	font-size: 10px;
	font-family: Arial, sans_serif;
	white-space: pre;
	margin:0px 0 70px 0px;
}

#disclaimer{
	font-size: 12px;
	margin-bottom: 5px;
	background-color: #EEE;
	height: 25px;
	width: 940px;
	padding-top: 10px;
	text-align: center;
}

#box_oitavas, #box_quartas{
	background-color: @azulOitavas;
	display: inline-block;
	width: 10px;
	height: 10px;
}

#box_quartas{
	background-color: @azulQuartas;
}

#estatisticas{
	clear: left;
	width: 940px;
	height: 430px;
	background-image: url("../img/separador.gif");
	background-repeat: repeat-x;
	margin-right: 19px;
}

#legenda_jogos{
	background-color: @cinza6;
	height: 29px;
	text-align: right;

	#espacamento{
		// background-color: red;
		display: inline-block;
	}

	#set, .col1, .col2, .col3, .col4, .col5{
		background-color: @cinza7;
		display: inline-block;
		width: 32px;
		height: 14px;
		padding: 7px;
		margin: 0;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: -3px;
		margin-right: 0px;
		text-align: center;
		font-size: 11px;
		font-weight: bold;
		border: 0px;
		color: @cinza8;
		//outline: 1px solid black;
	}

	#set{
		color: #666;
	}

	.col1, .col3, .col5{
		background-color: @cinza6;
	}

	.col1, .col2, .col3{
		width: 31px;
	}

	.col1{
		width: 30px;
	}

	#set{
		width: 45px;

	}

	.col5{
		width: 41px;
	}
}

.rodada{
	//display: none;
}

.box_estatisticas{
	width: 294px;
	float: left;
	margin-right: 19px;
}

.box_estatisticas:last-child{
	margin-right: 0px;
}

.invisible{
	display: none;
}

.col1, .col2, .col3, .col4, .col5{
	width: 178px;
	height: 35px;
	border-bottom: 1px solid @cinza3;
}

.col1{
	text-align: left;
	// border-left: 1px solid @cinza3; 
}

.col2, .col3, .col4, .col5{
	width:36px;
	text-align: center;
	padding: 0px;
}

.classificacao_posicao{
	font-size: 20px;
	margin: 0px 10px;
	width: 22px;
	display: inline-block;
	text-align: center;
	color: #092e63;
}

.jogo_infos{
	display: inline-block;
}

.jogo_infos, .clube_mandante, .clube_visitante{
	float: left;
	//outline: 1px solid black;
	font-family: @VolkswagenSerial-light, Arial, Sans_serif;
}

.jogo_display{
	width: 414px;
	height: 69px;
	background-image: url('../img/fundo_jogo_item.jpg');
	margin:11px 0 11px 9px;

	.clube_mandante, .clube_visitante{
		margin: 6px 5px 5px 15px;
		font-size: 13px;
		display: block;
		width: 191px;
		font-weight: bold;
		// outline: 1px solid black;
	}

	.clube_visitante{
		margin-top: 4px;
	}

	.set, .col1, .col2, .col3, .col4, .col5{
		//outline: 1px solid black;
		display: inline-block;
		width: 32px;
		height: 15px;
		margin-left: -1px;
		margin-top: 6px;
		padding: 0px;
		text-align: center;
		font-size: 13px;
		color: #c0bdbd;
		border: 0;
		// background-color: red;
	}

	.col2{
		background-color: none;
	}

	.set{
		width: 45px;
		font-weight: bold;
		color: #3c3c3c;
	}

	.col5{
		width: 30px;
	}

	.pad{
		margin-top: 8px;
	}
}

.jogo_infos{
	color: #999;
	font-family: Arial, sans_serif;
	font-size: 10px;
	width: 100%;
	text-align: center;
	margin-top:2px;
	// outline: 1px solid black;
}

.estatisticas_linha
{
	// padding-top: 10px;
	border: 1px solid @cinza2;
	border-bottom: 0px;
	font-size: 14px;
	height: 38px;
}

.nome_atleta, .atleta_pontuacao,.pts{
	float: left;
}

.nome_atleta{
	display: inline-block;
	color: #555;
	margin-top: 11px;
	width: 140px;
	// outline: 1px solid black;
}

.nome{
	font-weight: bold;
	font-size: 15px;
}

.atleta_pontuacao{
	display: inline-block;
	font-family: @VolkswagenSerial-light;
	color: #6e6a60;
	font-size: 25px;
	margin-top: 6px;
	// outline: 1px solid black;
	width: 80px;
	text-align: right;
}

#box_rebotes, #box_assistencias{
	.atleta_pontuacao{
		width: 100px;
	}
}

.pts{
	color:#a29f9f;
	margin: 13px 0px 0 3px;
}

.veja_lista{
	height: 39px;
	border: 1px solid @cinza2;

	a{
		color: @verde2;
		// outline: 1px solid black;
		margin: 12px 0 0 10px;
		float: left;
		text-decoration: none;
		font-size: 13px;
		font-weight: bold;
	}
}