@font-face {
  font-family: 'VolkswagenSerial-Light';
  src: url('../font/VolkswagenSerial-Light.eot');
  src: url('../font/VolkswagenSerial-Light.eot?#iefix') format('embedded-opentype'), url('../font/VolkswagenSerial-Light.woff') format('woff'), url('../font/VolkswagenSerial-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ProximaNova-bold';
  src: url('../font/proximanova-bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: Arial, sans-serif;
  color: #666666;
  margin: 0px;
}
table {
  /*background-color:yellow;*/

  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
  border-right: 1px solid #dddddd;
}
thead {
  background-color: #f5f5f5;
  border-bottom: 2px solid #dddddd;
}
thead .colAprov,
thead .colPontos {
  background-color: #ebebeb;
  text-align: left;
}
thead .colAprov span,
thead .colPontos span {
  width: 53px;
  position: absolute;
  background-repeat: no-repeat;
  margin-top: -19px;
  padding-top: 13px;
  background-color: ;
  text-align: center;
  background-color: transparent;
  margin-top: -18px;
}
thead .criterioAtivo {
  background-image: url('../img/fundoBotaoOrdenacao.gif');
  height: 35px;
}
thead tr {
  height: 40px;
}
thead tr td:first-child {
  padding-left: 20px;
}
td {
  padding: 0;
}
h1 {
  font-family: 'VolkswagenSerial-Light', Arial, sans_serif;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-family: 'VolkswagenSerial-Light', Arial, sans_serif;
  padding: 42px 0 0px 5px;
}
h3 {
  height: 34px;
  padding: 15px 0 0 15px;
  border-top: 2px solid #177d49;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  font-size: 17px;
  color: #555555;
  margin: 0;
}
tbody {
  font-size: 13px;
}
tbody tr {
  height: 43px;
}
tbody tr:last-child .col1,
tbody tr:last-child .col2,
tbody tr:last-child .col3 {
  border-bottom: 0px solid #dddddd;
}
tbody .col2,
tbody .col4 {
  background-color: #f5f5f5;
}
#aprov_btn,
#pBtn,
#nav_jogos_dir,
#nav_jogos_esq {
  cursor: pointer;
}
#preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 1000;
}
#preloader img {
  margin-left: 50%;
}
#nav_fases {
  width: 632px;
  height: 113px;
  float: left;
}
#opec {
  height: 93px;
  font-size: 12px;
  padding-top: 20px;
  float: left;
}
#opec p {
  margin: 0;
  padding: 0;
}
#container {
  width: 938px;
  display: table;
  border: 1px solid #c8c9ca;
  border-top: 2px solid #003300;
  clear: left;
}
#container_classificacao,
#container_jogos {
  float: left;
}
#container_classificacao {
  width: 506px;
}
#container_rodadas {
  margin-top: -5px;
}
#container_jogos {
  width: 432px;
  margin: 0px;
}
#lista_jogos {
  float: left;
  width: 100%;
  height: 387px;
  border-left: 0px;
}
#nav_jogos {
  height: 38px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  line-height: 10px;
  background-color: #f8f8f8;
}
#nav_jogos_esq,
#nav_jogos_dir {
  float: left;
  display: inline-block;
  width: 35px;
  height: 38px;
  background-image: url('../img/bt_esq.jpg');
  background-repeat: no-repeat;
}
#nav_jogos_dir {
  background-image: url('../img/bt_dir.jpg');
}
#nav_jogos_dir {
  float: right;
}
#titulo_rodada {
  float: left;
  width: 360px;
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
#legenda {
  clear: left;
  font-size: 10px;
  font-family: Arial, sans_serif;
  white-space: pre;
  margin: 0px 0 70px 0px;
}
#disclaimer {
  font-size: 12px;
  margin-bottom: 5px;
  background-color: #EEE;
  height: 25px;
  width: 940px;
  padding-top: 10px;
  text-align: center;
}
#box_oitavas,
#box_quartas {
  background-color: #092e63;
  display: inline-block;
  width: 10px;
  height: 10px;
}
#box_quartas {
  background-color: #00eaff;
}
#estatisticas {
  clear: left;
  width: 940px;
  height: 430px;
  background-image: url("../img/separador.gif");
  background-repeat: repeat-x;
  margin-right: 19px;
}
#legenda_jogos {
  background-color: #f5f5f5;
  height: 29px;
  text-align: right;
}
#legenda_jogos #espacamento {
  display: inline-block;
}
#legenda_jogos #set,
#legenda_jogos .col1,
#legenda_jogos .col2,
#legenda_jogos .col3,
#legenda_jogos .col4,
#legenda_jogos .col5 {
  background-color: #ebebeb;
  display: inline-block;
  width: 32px;
  height: 14px;
  padding: 7px;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -3px;
  margin-right: 0px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  border: 0px;
  color: #c0bdbd;
}
#legenda_jogos #set {
  color: #666;
}
#legenda_jogos .col1,
#legenda_jogos .col3,
#legenda_jogos .col5 {
  background-color: #f5f5f5;
}
#legenda_jogos .col1,
#legenda_jogos .col2,
#legenda_jogos .col3 {
  width: 31px;
}
#legenda_jogos .col1 {
  width: 30px;
}
#legenda_jogos #set {
  width: 45px;
}
#legenda_jogos .col5 {
  width: 41px;
}
.box_estatisticas {
  width: 294px;
  float: left;
  margin-right: 19px;
}
.box_estatisticas:last-child {
  margin-right: 0px;
}
.invisible {
  display: none;
}
.col1,
.col2,
.col3,
.col4,
.col5 {
  width: 178px;
  height: 35px;
  border-bottom: 1px solid #dddddd;
}
.col1 {
  text-align: left;
}
.col2,
.col3,
.col4,
.col5 {
  width: 36px;
  text-align: center;
  padding: 0px;
}
.classificacao_posicao {
  font-size: 20px;
  margin: 0px 10px;
  width: 22px;
  display: inline-block;
  text-align: center;
  color: #092e63;
}
.jogo_infos {
  display: inline-block;
}
.jogo_infos,
.clube_mandante,
.clube_visitante {
  float: left;
  font-family: 'VolkswagenSerial-Light', Arial, Sans_serif;
}
.jogo_display {
  width: 414px;
  height: 69px;
  background-image: url('../img/fundo_jogo_item.jpg');
  margin: 11px 0 11px 9px;
}
.jogo_display .clube_mandante,
.jogo_display .clube_visitante {
  margin: 6px 5px 5px 15px;
  font-size: 13px;
  display: block;
  width: 191px;
  font-weight: bold;
}
.jogo_display .clube_visitante {
  margin-top: 4px;
}
.jogo_display .set,
.jogo_display .col1,
.jogo_display .col2,
.jogo_display .col3,
.jogo_display .col4,
.jogo_display .col5 {
  display: inline-block;
  width: 32px;
  height: 15px;
  margin-left: -1px;
  margin-top: 6px;
  padding: 0px;
  text-align: center;
  font-size: 13px;
  color: #c0bdbd;
  border: 0;
}
.jogo_display .col2 {
  background-color: none;
}
.jogo_display .set {
  width: 45px;
  font-weight: bold;
  color: #3c3c3c;
}
.jogo_display .col5 {
  width: 30px;
}
.jogo_display .pad {
  margin-top: 8px;
}
.jogo_infos {
  color: #999;
  font-family: Arial, sans_serif;
  font-size: 10px;
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
.estatisticas_linha {
  border: 1px solid #c8c9ca;
  border-bottom: 0px;
  font-size: 14px;
  height: 38px;
}
.nome_atleta,
.atleta_pontuacao,
.pts {
  float: left;
}
.nome_atleta {
  display: inline-block;
  color: #555;
  margin-top: 11px;
  width: 140px;
}
.nome {
  font-weight: bold;
  font-size: 15px;
}
.atleta_pontuacao {
  display: inline-block;
  font-family: 'VolkswagenSerial-Light';
  color: #6e6a60;
  font-size: 25px;
  margin-top: 6px;
  width: 80px;
  text-align: right;
}
#box_rebotes .atleta_pontuacao,
#box_assistencias .atleta_pontuacao {
  width: 100px;
}
.pts {
  color: #a29f9f;
  margin: 13px 0px 0 3px;
}
.veja_lista {
  height: 39px;
  border: 1px solid #c8c9ca;
}
.veja_lista a {
  color: #177d49;
  margin: 12px 0 0 10px;
  float: left;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
